<div class="form5a">
    <span class="forms5a1"><%= render 'components/form5a' %></span>
    <span class="forms5a2"><%= render 'components/form5a' %></span>
    <span class="forms5a3"><%= render 'components/form5a' %></span>
    <span class="forms5a4"><%= render 'components/form5a' %></span>
    <span class="forms5a5"><%= render 'components/form5a' %></span>
    <span class="forms5a6"><%= render 'components/form5a' %></span>
    <span class="forms5a7"><%= render 'components/form5a' %></span>
</div>