<div class="form5b">
    <span class="forms5b1"><%= render 'components/form5b' %></span>
    <span class="forms5b2"><%= render 'components/form5b' %></span>
    <span class="forms5b3"><%= render 'components/form5b' %></span>
    <span class="forms5b4"><%= render 'components/form5b' %></span>
    <span class="forms5b5"><%= render 'components/form5b' %></span>
    <span class="forms5b6"><%= render 'components/form5b' %></span>
    <span class="forms5b7"><%= render 'components/form5b' %></span>
</div>