<div class="homecontainer">
    <div class="BoosterLesJE">
        <div class="divTexte">
            <div class="texte">
                <div class="title">Booster les J.E. 🚀</div>
                <div class="description">Nous accompagnons les Junior-Entreprises dans la construction d’une image de marque professionnelle et dans l’optimisation de leur performance. </div>
                <div class="btn-1"><div class="txt">J'accélère !</div></div>
            </div>
        </div>
        <div class="divForme">
            <div class="form4"><div class="form"><%= render 'components/multipleforms' %></div></div>
            <div class="form1"><div class="form"><%= render 'components/form1' %></div></div>
            <div class="form2"><div class="form"><%= render 'components/form2' %></div></div>
            <div class="form3"><div class="form"><%= render 'components/form3' %></div></div>
        </div>
    </div>

    <div class="NotreEpertise">
        <div class="Title">
            <div class="Titre">Nos Expertises 🔬</div>
            <div class="Description">Pour tout vous dire, on ne recul devant aucun projet mais on nous a conseillé de mettre quelques exemples.</div>
        </div>
        <div class="Cartes">
            <div class="Carte">
                <div class="emoji">🖌</div>
                <div class="titre">Charte Graphique</div>
                <div class="texte">On crée ou modernise tout ou partie de votre charte pour développer une marque forte.</div>
            </div>
            <div class="Carte">
                <div class="emoji">🖥</div>
                <div class="titre">Site Web</div>
                <div class="texte">On refond ou crée votre site web pour qu’il soit la vitrine de vos compétence.</div>
            </div>
            <div class="Carte">
                <div class="emoji">🤳</div>
                <div class="titre">Réseaux Sociaux</div>
                <div class="texte">On s’occupe de vos réseaux pour une campagne, un évènement ou pour la fame.</div>
            </div>
            <div class="Carte">
                <div class="emoji">💸</div>
                <div class="titre">Performance Commerciale</div>
                <div class="texte">On challenge vos processus, on améliore vos documents d’études et de communication pro.</div>
            </div>
            <div class="Carte">
                <div class="emoji">📊</div>
                <div class="titre">Indicateurs</div>
                <div class="texte">On vous aide à créer des indicateurs, faciliter leurs lectures et les utiliser pour performer.</div>
            </div>
            <div class="Carte">
                <div class="emoji">⚙</div>
                <div class="titre">Automatisation</div>
                <div class="texte">Vous avez déjà dit: “Ah c’est chiant de faire ça” ? Bon bah on s’en occupe.</div>
            </div>
        </div>
        <div class="btn-2"><div class="txt">J’ai un projet à vous confier !</div></div>
    </div>

    <div class="OnBosseAvecEux">
        <div class="Texte">
            <div class="Titre">On bosse avec eux 🤝</div>
            <div class="Description">Ils ont adoré, on a adoré, tout est dit.</div>
        </div>
        <div class="DivLogo">
            <div class="Logos">
                <div class="Logo"><%= image_tag("Logo/pumpkin.png", width:"132", height:"46.2") %></div>
                <div class="Logo"><%= image_tag("Logo/angersshoping.png", width:"127", height:"42.12") %></div>
                <div class="Logo"><%= image_tag("Logo/estaca.png", width:"100", height:"41.03") %></div>
                <div class="Logo"><%= image_tag("Logo/joko.png", width:"101", height:"39") %></div>
                <div class="Logo"><%= image_tag("Logo/ejc.png", width:"53", height:"48") %></div>
                <div class="Logo"><%= image_tag("Logo/juniorestaca.png", width:"54", height:"63") %></div>
            </div>
        </div>
    </div>

    <div class="Compteur">
        <div class="content">
            <div class="title">
                <div class="titre">Le compteur le plus important !</div>
                <div class="description">Notre but est de pouvoir accompagner toutes les structures du mouvement. <br> Alors on va compter ça avec attention !</div>
            </div>
            <div class="Donnees">
                <div class="Donnee borded"><div class="Chiffre">2</div><div class="Texte">Juniors accompagnées</div></div>
                <div class="Donnee borded"><div class="Chiffre">2</div><div class="Texte">Projets réalisés</div></div>
                <div class="Donnee borded"><div class="Chiffre">1%</div><div class="Texte">Du mouvement accompagné</div></div>
                <div class="Donnee"><div class="Chiffre">198</div><div class="Texte">Structures à accompagner</div></div>
            </div>
            <div class="texte">
                <div class="titre">C’est pas fameux pour le moment 😅</div>
                <div class="description">Pour que ça aille plus vite on offrira 10% aux 5 premières structures qui nous donnent le code : EARLYBIRD </div>
            </div>
            <div class="btn">
                <div class="btn-3"><div class="txt">Je suis la suivante !</div></div>
            </div>
        </div>
        <div class="form6"><div class="form"><%= render 'components/form6' %></div></div>
    </div>

    <div class="QuiSommesNous">
        <div class="Titre">Qui sommes-nous 👋</div>
        <div class="Cartes">
            <div class="Carte">
                <div class="Identite">
                    <div class="nom">
                        <div class="texte">Hugo</div>
                        <div class="logo">✍</div>
                    </div>
                    <div class="avatar"></div>
                </div>
                <div class="Section">
                    <div class="titre">Mouvement :</div>
                    <div class="liste">
                        <ul>
                            <li>Président 2020 ESSCA Junior Conseil </li>
                            <li>Auditeur-Conseil</li>
                        </ul>
                    </div>
                </div>
                <div class="Section">
                    <div class="titre">Expertise :</div>
                    <div class="liste">
                        <ul>
                            <li>Marketing </li>
                            <li>Stratégie </li>
                        </ul>
                    </div>
                </div>
                <div class="Section">
                    <div class="titre">Pro :</div>
                    <div class="liste">
                        <ul>
                            <li>Publicité @Rosapark</li>
                            <li>Stratégie Commerciale @Alten</li>
                            <li>Immobilier @Foncia</li>
                            <li>+ Freelancing Marketing Digital</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Carte">
                <div class="Identite">
                    <div class="nom">
                        <div class="texte">C.E.</div>
                        <div class="logo">🔭</div>
                    </div>
                    <div class="avatar"></div>
                </div>
                <div class="Section">
                    <div class="titre">Mouvement :</div>
                    <div class="liste">
                        <ul>
                            <li>DSI 2020 ESSCA Junior Conseil </li>
                            <li>Responsable ISO ESSCA Junior Conseil </li>
                            <li>Auditeur Conseil</li>
                        </ul>
                    </div>
                </div>
                <div class="Section">
                    <div class="titre">Expertise :</div>
                    <div class="liste">
                        <ul>
                            <li>Dév Web</li>
                            <li>Automatisation</li>
                            <li>Base de Donnée </li>
                            <li>RGPD</li>
                        </ul>
                    </div>
                </div>
                <div class="Section">
                    <div class="titre">Pro :</div>
                    <div class="liste">
                        <ul>
                            <li>Freelancing Dev Fullstack</li>
                            <li>Formateur SI @CNJE </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="NosRealisations">
        <div class="Titre">Nos Réalisations 🏆</div>
        <div class="carousel">
            <div class="carousel_item carousel_item--visible">
                <div class="carrousel_NosRealisations">
                    <div class="texte">
                        <div class="titre">ESSCA Junior Conseil</div>
                        <div class="content">
                            <div class="paragraphe">Lors de notre mandat chez ESSCA Junior Conseil on n’a que très peu dormi. Mais par contre on a eu des résultats !</div>
                            <ul>
                                <li>Entrée en L30</li>
                                <li>Record de C.A. avec + 40% VS 2019</li>
                                <li>Automatisation de processus</li>
                                <li>Refonte du site web qui a généré 57% du CA</li>
                                <li>Labelisation ISO 9001</li>
                                <li>Norme RGPD européenne</li>
                                <li>7 Nouveaux auditeurs</li>
                                <li>Refonte de la charte graphique</li>
                                <li>Une communication innovante (+1 post avec 30k de reach)</li>
                                <li>Organisation du CNA avec +1000 inscrits</li>
                            </ul>
                        </div>
                        <div class="link">Ecoutez le ETIC podcast sur notre mandat
                            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6232 1.70711C14.2327 1.31658 14.2327 0.683417 14.6232 0.292893C15.0137 -0.0976311 15.6469 -0.0976311 16.0374 0.292893L22.0374 6.29289C22.428 6.68342 22.428 7.31658 22.0374 7.70711L16.0374 13.7071C15.6469 14.0976 15.0137 14.0976 14.6232 13.7071C14.2327 13.3166 14.2327 12.6834 14.6232 12.2929L18.9161 7.99998H1.34111C0.782731 7.99998 0.330078 7.55227 0.330078 6.99998C0.330078 6.4477 0.782731 5.99998 1.34111 5.99998H18.9161L14.6232 1.70711Z" fill="#0000FF"/>
                            </svg>
                        </div>
                    </div>
                    <div class="img">
                    </div>
                </div>
            </div>
            <div class="carousel_item">
                <div class="carrousel_NosRealisations">
                    <div class="texte">
                        <div class="titre">Angers Shopping</div>
                        <div class="content">
                            <div class="paragraphe">🎯 Objectif : Attirer des clients sur une nouvelle plateforme digitale pendant le premier confinement.</div>
                            <br>
                            <ul>
                                <li>Accompagnement sur la stratégie marketing</li>
                                <li>Création d’un plan de communication B2C axé réseaux sociaux.</li>
                                <li>Détérmination des clients cibles</li>
                            </ul>
                            <br>
                            <div class="paragraphe">🏅 764 000€ de C.A. sur les 8 premiers mois</div>
                            <div class="paragraphe">🏅 + 1080 abonnés sur facebook</div>
                            <div class="paragraphe">🏅 + 1300 abonnés sur Instagram</div>
                        </div>
                        <div class="link">Lire un extrait du plan de communication 
                            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6232 1.70711C14.2327 1.31658 14.2327 0.683417 14.6232 0.292893C15.0137 -0.0976311 15.6469 -0.0976311 16.0374 0.292893L22.0374 6.29289C22.428 6.68342 22.428 7.31658 22.0374 7.70711L16.0374 13.7071C15.6469 14.0976 15.0137 14.0976 14.6232 13.7071C14.2327 13.3166 14.2327 12.6834 14.6232 12.2929L18.9161 7.99998H1.34111C0.782731 7.99998 0.330078 7.55227 0.330078 6.99998C0.330078 6.4477 0.782731 5.99998 1.34111 5.99998H18.9161L14.6232 1.70711Z" fill="#0000FF"/>
                            </svg>
                        </div>
                    </div>
                    <div class="img">
                    </div>
                </div>
            </div>

            <div class="carousel_action">
                <div class="carousel_button" id="carousel_button--prev">
                    <svg width="50" height="56" viewBox="0 0 50 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.66503 29.0214C3.66503 30.1761 3.66504 33.0628 5.66504 34.2175L32.7889 49.8775C34.7889 51.0322 37.2889 49.5888 37.2889 47.2794L37.2889 15.9595C37.2889 13.6501 34.7889 12.2067 32.7889 13.3614L5.66503 29.0214Z" fill="#FFBA09"/>
                        <path d="M4.5 21.7826C2.5 22.9373 2.5 25.824 4.5 26.9787L31.6239 42.6387C33.6239 43.7934 36.1239 42.35 36.1239 40.0406L36.1239 8.72069C36.1239 6.41129 33.6239 4.96792 31.6239 6.12262L4.5 21.7826Z" fill="#0000FF"/>
                    </svg>                 
                </div>
                <div class="carousel_button" id="carousel_button--next">
                    <svg width="53" height="56" viewBox="0 0 53 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.9951 29.0214C45.9951 30.1761 45.9951 33.0628 43.9951 34.2175L16.8713 49.8775C14.8713 51.0322 12.3713 49.5888 12.3713 47.2794L12.3713 15.9595C12.3713 13.6501 14.8713 12.2067 16.8713 13.3614L43.9951 29.0214Z" fill="#FFBA09"/>
                        <path d="M48.0684 21.7826C50.0684 22.9373 50.0684 25.824 48.0684 26.9787L20.9445 42.6387C18.9445 43.7934 16.4445 42.35 16.4445 40.0406L16.4445 8.72069C16.4445 6.41129 18.9445 4.96792 20.9445 6.12262L48.0684 21.7826Z" fill="#0000FF"/>
                    </svg>
                </div>
            </div>

            <div class="carousel_indicators">
                <div class="carousel_indicator_circle carousel_indicator--active"></div>
                <div class="carousel_indicator_circle carousel_indicator--inactive"></div>
            </div>
        </div>
    </div>


</div>

<!-- <div class=""></div> -->

<!-- <div class="homecontainer">
    <div class="BoosterLesJE">
        
----------
        <div class="divFormes4"></div>
        <div class="divFormes123"></div>
----------
        <div class="divformes">
            <div class="formes">
                <div><%= render 'components/multipleforms' %></div>
            </div>
        </div>
        <div class="form1"><div class="form"><%= render 'components/form1', locals: {rotating: "rotating"} %></div></div>
        <div class="form2"><div class="form"><%= render 'components/form2' %></div></div>
        <div class="form3"><div class="form"><%= render 'components/form3' %></div></div>
    </div>

</div>

-->
