<!DOCTYPE html>
<html>
  <head>
    <title>Hex Agency</title>
    <%= favicon_link_tag asset_path('hex.png')%>
    <meta property="og:url" content="http://www.hex-agency.fr" />
    <meta property="og:title" content="HEX Agency - Booster les J.E." />
    <meta property="og:description" content="Nous accompagnons les Junior-Entreprises dans la construction d’une image de marque professionnelle et dans l’optimisation de leur performance. " />
    <meta property="og:image" content=<%= asset_path('hex.png') %> />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:ital,wght@0,700;1,700&display=swap');
    </style>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
